<div id='logreg-forms'>
  <form class='form-reset pb-5'>
    <h1 class='h3 mb-3 font-weight-normal text-center'>Enter the registered
      Email</h1>
    <input
      type='email'
      id='resetEmail'
      class='form-control mt-5'
      placeholder='Email address'
      required=''
      autofocus=''
    />
    <button class='btn btn-primary w-100 mt-5' type='submit' disabled>Reset
      Password</button>
    <a href='/login' id='cancel_reset' class='my-3'>
      <i class='fas fa-angle-left'></i>
      Back to login
    </a>
  </form>
</div>