<footer class='footer bg-secondary'>
  <div class='container'>
    <h3 class='text-dark pt-4'>Quick Links:</h3>
    <ul class='list-group ms-5'>
      <li><a href='#' class='nav-link text-light pb-0'>About Developers</a></li>
      <li><a href='#' class='nav-link text-light pb-0'>Contact Us</a></li>
      <li><a href='#' class='nav-link text-light pb-0'>Help</a></li>
      <li><a href='#' class='nav-link text-light pb-0'>Learn More</a></li>
    </ul>
  </div>
  <div class='container'>
    <div class='text-center text-white'>
      <p class='h6'>© All right Reversed. Travelite India</p>
    </div>
  </div>
  <hr />
  <div class='container pb-2 mb-0'>
    <div class='text-light'>
      <ul id='social' class='d-flex justify-content-center'>
        <li class='mx-3'><a href='#'><i
              class='fab fa-facebook-square'
            ></i></a></li>
        <li class='mx-3'><a href='#'><i
              class='fab fa-twitter-square'
            ></i></a></li>
        <li class='mx-3'><a href='#'><i
              class='fab fa-google-plus-square'
            ></i></a></li>
        <li class='mx-3'><a href='#' target='_blank'><i
              class='fa fa-envelope'
            ></i></a></li>
      </ul>
    </div>
  </div>
</footer>